version: '3.7'

services:
  es-query-exporter: 
    image: bitshift/elastic-query-exporter:v1.0.0-preview.4
    environment: 
      - ASPNETCORE_ENVIRONMENT=Release
    ports:
      - 5050:80
    volumes:
    - type: bind
      source: ./config/appsettings.Release.yaml
      target: /app/appsettings.Release.yaml
    - type: bind
      source: ./queries
      target: /app/queries