serilog:
  minimum_level:
    default: "Information"

exporter:
  elasticsearch:
    connection:
      singlenode:
        url: http://host.docker.internal:9200

  query_files:
  - ./.test-queries/**/*.yaml