serilog:
  minimum_level:
    default: "Information"

exporter:
  elasticsearch:
    connection:
      singlenode:
        url: http://elasticsearch.devtest.local:9200

  query_files:
  - "./.queries/test.query-scheduled.yaml"
  - "./.queries/test.query-on-demand.yaml"