name: Release

on:
  push:
    tags: 
      - v*.*.*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: publish
      uses: docker/build-push-action@v1
      with:
        username: bitshift
        password: ${{ secrets.DOCKER_TOKEN }}
        repository: bitshift/elastic-query-exporter
        path: src
        dockerfile: src/Exporter/Dockerfile
        add_git_labels: true
        tags: latest
        tag_with_ref: true
